<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script src="/js/eventdata.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/eventdata.css">

    <link rel="stylesheet" type="text/css" href="/css/memberslist.css">
</head>
<body>

    <div class="container container-fluid">

        <%- include eventdata.ejs %>

        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12">
                <table id="membersListTable" class="table table-hover table-striped table-condensed">
                    <tr class="my-tbl-header">
                        <td class="col-md-1">#</td>
                        <% for (var key in memberslist[0]) {
                             if (key != "eventid" && key != "memberid") {%>
                                <td><%= key %></td>
                        <%}  } %>
                        <td class="col-md-1 narrow-col">del</td>
                    </tr>

                    <% for (var memberIdx = 0; memberIdx < memberslist.length; memberIdx++) { %>
                        <tr>
                            <td class="num-rows">
                                <%= memberIdx +1 %>
                            </td>
                            <% for (var fieldIdx  in memberslist[memberIdx]) {
                                if (fieldIdx != "eventid" && fieldIdx != "memberid"){%>
                                    <td><%= (memberslist[memberIdx])[fieldIdx] %></td>
                            <%} } %>
                            <td class="col-xs-1 delspan">
                                <span class="glyphicon glyphicon-remove-circle delMember" memberid="<%= memberslist[memberIdx]['memberid'] %>"></span>
                            </td>
                    <% } %>
                </table>
            </div>
        </div>
    </div>

    <script>
        var eventdata = '<%- JSON.stringify(eventdata) %>';
        setupEventData(JSON.parse(eventdata));
        var fieldsJSON = '<%- JSON.stringify(fields) %>';
        var fields = JSON.parse(fieldsJSON);


        var onDel = function (){
            memberId2Del = {memberid : this.getAttribute('memberid')};
            console.log(memberId2Del);
            $(this).parent().parent().remove();

            // POST to delete from base

            $.post({
                url: '/memberslist/delmember',
                type: 'post',
                data: memberId2Del,
                success: function (data, textStatus, jqXHR) {
                    // if success, HTML response is expected, so replace current
                    if (textStatus === 'success') {
                        console.log(data);
                    }
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {

//************* rebuild page and send alert Error

                if (jqXHR.status == 0 || jqXHR == 302) {
                    alert('Your session has ended due to inactivity after 10 minutes.\nPlease refresh this page, or close this window and log back in to system.');
                } else {
                    alert('Unknown error returned while saving' + (typeof errorThrown == 'string' && errorThrown.trim().length > 0 ? ':\n' + errorThrown : ''));
                }
            });
        }
        $('.container').on('click', '.delMember', onDel); // onClick for Close spans
    </script>

</body>
</html>