<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= eventdata.name %></title>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="/js/serializejson/jquery.serializejson.min.js"></script>

    <script src="/js/eventdata.js"></script>

    <link rel="stylesheet" type="text/css" href="./css/eventdata.css">
    <link rel="stylesheet" type="text/css" href="./css/register.css">
</head>
<body>


<div class="container">

    <%- include eventdata.ejs %>

    <div class="panel-body">

        <form method="post" action="#" id="registerForm">

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" required="true">
            </div>

            <div id="inputsContainer">
            </div>

            <input type="hidden" name="eventId">
            <button type="submit" class="btn btn-primary pull-right">Register</button>
        </form>
    </div>
</div>

<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/register.js"></script>
<script type="text/javascript">


    var eventdataJSON = '<%- JSON.stringify(eventdata) %>';
    var eventdata=JSON.parse(eventdataJSON);
    //console.log(eventdata);
    var eventId=eventdata.id;
    console.log('eventId='+eventId);
    setupEventData(JSON.parse(eventdataJSON));

    //var fields='<%- eventdata.fields %>';
    //var fieldsJSON=fields==="" ? {} : JSON.parse(fields);

    var fieldsJSON = '<%- JSON.stringify(fields) %>';
    var fields = JSON.parse(fieldsJSON);
    //console.log(fields);
    setupDoc(fields);

    $('#registerForm').on('submit', function (event) {
        event.preventDefault();
        $('input[name="eventId"]').val(eventId);
        $.post({
            url: '/register?id=' + eventId,
            type: 'post',
            data: $('#registerForm').serializeJSON(),
            //data: $(this).serialize(),
            success: function (data, textStatus, jqXHR) {
                // if success, HTML response is expected, so replace current
                if (textStatus === 'success') {
                    console.log(data);
                    redirect(data.redirect);
                }
            }
        }).fail(function (jqXHR, textStatus, errorThrown) {
            if (jqXHR.status == 0 || jqXHR == 302) {
                alert('Your session has ended due to inactivity after 10 minutes.\nPlease refresh this page, or close this window and log back in to system.');
            } else {
                alert('Unknown error returned while saving' + (typeof errorThrown == 'string' && errorThrown.trim().length > 0 ? ':\n' + errorThrown : ''));
            }
        });
        return false;
    });


</script>

</body>
</html>