<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register for <%= eventdata.name %></title>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.3.0/ui-bootstrap-tpls.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-aria.js"></script>
    <script src="/js/serializejson/jquery.serializejson.min.js"></script>

    <script src="/js/eventdata.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="./css/eventdata.css">
    <link rel="stylesheet" type="text/css" href="./css/register.css">
</head>
<body ng-app="RegisterApp">

<div ng-controller="RegisterCtrl" class="md-padding" id="popupContainer" ng-cloak>


    <div class="container">

        <%- include eventdata.ejs %>

        <div class="panel-body">

            <form method="post" action="#" id="registerForm">

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required="true">
                </div>

                <div id="errorPanel" class="alert alert-danger fade in" style="display: none"></div>

                <div id="inputsContainer">
                </div>

                <input type="hidden" name="eventId">
                <button type="submit" class="btn btn-primary pull-right">Register</button>
                </button>
            </form>
        </div>

    </div>

    <div style="visibility: hidden">
        <div class="md-dialog-container" id="myDialog">
            <md-dialog layout-padding>
                <h2>Pre-Rendered Dialog</h2>
                <p>
                    This is a pre-rendered dialog, which means that <code>$mdDialog</code> doesn't compile its
                    template on each opening.
                    <br/><br/>
                    The Dialog Element is a static element in the DOM, which is just visually hidden.<br/>
                    Once the dialog opens, we just fetch the element from the DOM into our dialog and upon close
                    we restore the element back into its old DOM position.
                </p>
            </md-dialog>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/register.js"></script>
<script type="text/javascript">


    var eventdataJSON = '<%- JSON.stringify(eventdata) %>';
    var eventdata = JSON.parse(eventdataJSON);
    //console.log(eventdata);
    var eventId = eventdata.id;
    setupEventData(JSON.parse(eventdataJSON));


    //var app = angular.module('RegisterApp', ['ngRoute', 'ngAria','ngAnimate', 'ngMaterial', 'ui.bootstrap']);
    var app = angular.module('RegisterApp', ['ngMaterial','ngRoute', 'ngAnimate',  'ui.bootstrap']);


    var ctrl = app.controller('RegisterCtrl', ['$scope', '$mdDialog', function ($scope,$mdDialog) {
    //var ctrl = app.controller('RegisterCtrl', ['$scope', function ($scope) {
    //var ctrl = app.controller('RegisterCtrl', function($scope, $mdDialog) {
                $scope.status = '  ';
                $scope.customFullscreen = false;
                $scope.showAdvanced = function (redirectUrl) {
                    $mdDialog.show({
                        controller: DialogController,
                        templateUrl: redirectUrl,
                        parent: angular.element(document.body),
                        //targetEvent: ev,
                        clickOutsideToClose: false,
                        fullscreen: $scope.customFullscreen // Only for -xs, -sm breakpoints.
                    })
                            .then(function (answer) {
                                $scope.status = 'You said the information was "' + answer + '".';
                            }, function () {
                                $scope.status = 'You cancelled the dialog.';
                            });
                };

                function DialogController($scope, $mdDialog) {
                    $scope.hide = function () {
                        $mdDialog.hide();
                    };

                    $scope.cancel = function () {
                        $mdDialog.cancel();
                    };

                    $scope.answer = function (answer) {
                        $mdDialog.hide(answer);
                    };
                }
            }
    ]);

    //var fields='<%- eventdata.fields %>';
    //var fieldsJSON=fields==="" ? {} : JSON.parse(fields);

    var fieldsJSON = '<%- JSON.stringify(fields) %>';
    var fields = JSON.parse(fieldsJSON);
    //console.log(fields);
    setupDoc(fields);

    $('#registerForm').on('submit', function (event) {
        event.preventDefault();
        $("#errorPanel").hide();


        $('input[name="eventId"]').val(eventId);
        $.post({
            url: '/register?id=' + eventId,
            type: 'post',
            data: $('#registerForm').serializeJSON(),
            //data: $(this).serialize(),
            success: function (data, textStatus, jqXHR) {
                // if success, HTML response is expected, so replace current
                if (textStatus === 'success') {
                    console.log(data);


                    if (data.status==='error'){
                        if (data.error==='ERR_DUP') {
                            $("#errorPanel").html("<p>" + data.errmsg + "</p>");
                            $("#errorPanel").show();
                        }
                        else{
                            alert("Server encounters internal problem");
                        }
                    }
                    else {
                        var scope = angular.element(document.getElementById("popupContainer")).scope();
                        scope.showAdvanced(data.redirect);
                    }

                    //redirect(data.redirect);
                }
            }
        }).fail(function (jqXHR, textStatus, errorThrown) {
            if (jqXHR.status == 0 || jqXHR == 302) {
                alert('Your session has ended due to inactivity after 10 minutes.\nPlease refresh this page, or close this window and log back in to system.');
            } else {
                alert('Unknown error returned while saving' + (typeof errorThrown == 'string' && errorThrown.trim().length > 0 ? ':\n' + errorThrown : ''));
            }
        });
        return false;
    });




</script>

</body>
</html>